.comments{
  word-wrap: break-word;
}

body{
  background-color: #D33131;
}

h1{
  color:white;
}
header > h4{
  color:white;
}

.feedbackdata{
  padding-left: 3%;
  padding-right: 3%;
  padding-top:1%;
  padding-bottom: 1%;
}

.appname{
  font-family:sans-serif;
  font-style: oblique;
  font-weight: bold;
}
